// Grid layouts 
$columns :12;
$grid_breakpoints_xxl : 1400px;
$grid_breakpoints_xl : 1200px;
$grid_breakpoints_lg : 992px;
$grid_breakpoints_md : 768px;
$grid_breakpoints_sm : 576px;
$grid_breakpoint_xs : 575.98px;



